{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    {% csrf_token %}
    <nav class="navbar">
            <div class="main">
                <div class="log">
                    <img src="{% static 'images/lab2.jpg' %}" alt="log">
                    <!-- <img src="{% static 'images/lab2.jpg' %}" alt="log"> -->
                </div>
                <form method="POST" action="{% url 'fetch' %}">
                    {% csrf_token %}
                    <div class="form-row">
                        <label class="form-row-inner">
                            <input type="text" name="bookname" id="bookname" class="input-text" required>
                            <span class="label">Enter the Book Name</span>
                            <span class="border"></span>
                        </label>
                    </div>
        
                    <div class="form-row-last">
                        <button type="submit" id="submit">Search</button>
                    </div>            
                    
                </form>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Login
                    </button>
                    <ul class="dropdown-menu">
                      <li><button class="dropdown-item" type="button" onclick="window.location.href='/student_login'">as Student</button></li>
                      <li><button class="dropdown-item" type="button" onclick="window.location.href='/admin_login'">as Admin</button></li>
                    </ul>
                </div>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Sign-Up
                    </button>
                    <ul class="dropdown-menu">
                        <li><button class="dropdown-item" type="button" onclick="window.location.href='/registation'">as Student</button></li>
                        <li><button class="dropdown-item" type="button" onclick="window.location.href='/admin_registation'">as Admin</button></li>
                    </ul>
                </div>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Superior
                    </button>
                    <ul class="dropdown-menu">
                        <li><button class="dropdown-item" type="button" onclick="window.location.href='/superior'">superior</button></li>
                    </ul>
                </div>
            </div>
    </nav>


    <script src="https://kit.fontawesome.com/113d439dfc.js" crossorigin="anonymous"></script>

</body>
</html>