<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/python/python pro LMS/css/style.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar">
            <div class="main">
                <div class="log">
                    <img src="../static/images/lab2.jpg" alt="log">
                </div>
                <div class="search">
                    <input type="text" placeholder="Exployer the libaraly....">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
            
            <div class="varification">
                <div class="signup">
                    <a href="../templates/login.html">Login</a>
                </div>
                <div class="login">
                    <a href="../templates/registation.html">Registration</a>
                </div>
            </div>
    </nav>


    <script src="https://kit.fontawesome.com/113d439dfc.js" crossorigin="anonymous"></script>

</body>
</html>